.modal-90w {
    max-width: 90%;
    margin: auto; /* Centers the modal horizontally */
  }
  
  .question-list-container {
    max-height: 400px; /* Adjust as needed */
    overflow-y: auto;
    padding: 10px; /* Add padding for better appearance */
  }
  
  .question-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
  }
  
  .question-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #6f42c1; /* Purple border */
    border-radius: 5px;
    cursor: pointer;
    transition:  0.2s ease;
  }
  
  .question-item:hover {
    background-color: #f1f1f1;
  }
  
  .question-number {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #6f42c1; /* Purple */
    color: #fff;
    text-align: center;
    margin-right: 10px;
    border: 1px solid #6f42c1; /* Purple border */
  }
  
  .question-text {
    flex: 1;
    padding: 5px;
    color: #333; /* Text color */
    border: none !important;
  }
  
  .question-modal .modal-title {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    width: 100%;
  }